<div class="privacy-container">
  <h1>Privacy Policy</h1>
  <h2>Information We Collect</h2>
  <p>We only store the name you provide when you begin a new game.</p>

  <h2>Copyright</h2>
  <p>Rails Trivia does not claim ownership to any of the questions or answers in this game.</p>
  <p>All information was aggregated legally from various sources online.</p>

  <h2>Financial</h2>
  <p>The owners do not profit from this website and all of the code is open-source.</p>
  <p>It is strictly for learning/instructional purposes.</p>

  <h2>Changes</h2>
  <p>We may update this Policy from time to time and without warning.</p>

  <h2>Contact Us</h2>
  <p>If you have any questions about this Policy, please contact us.</p>
</div>
