<div class="game-container" data-round1='<%= @round_1_data.to_json %>'>
  <h1>Jeopardy!</h1>

  <table class="game-board">
    <thead>
    <tr>
      <% @game.categories.each do |category| %>
        <th><%= category %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% [200, 400, 600, 800, 1000].each do |value| %>
      <tr>
        <% @game.categories.each do |category| %>
          <%= render partial: 'game_cell', locals: { category: category, value: value, game: @game } %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render partial: 'layouts/scoring', locals: { game: @game } %>
</div>

