@import "bootstrap";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(240, 240, 240, 0.22);
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

h1 {
    color: #060CE9;
    margin-bottom: 20px;
}

.jeopardy-home {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.game-board {
    border-collapse: separate;
    border-spacing: 5px;
    background-color: black;
    padding: 5px;
}
.game-board th {
    background-color: #060CE9;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
}

.game-board td:hover {
    background-color: #0000FF;
}

.popover {
    max-width: 500px !important;
}

.overlay {
    display: none;
}