@import "bootstrap";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(240, 240, 240, 0.22);
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

h1 {
    color: #060CE9;
    margin-bottom: 20px;
}

.jeopardy-home {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.game-board {
    border-collapse: separate;
    border-spacing: 5px;
    background-color: #2c2f45;
    padding: 5px;
    margin-top: 15%;
}
.game-board th {
    background-color: #060CE9;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

.game-board td:hover {
    background-color: #0000FF;
}

.popover {
    max-width: 500px !important;
}

.overlay {
    display: none;
}

.app-background {
    background-color: #2c2f45
}

.custom-toggler.navbar-toggler {
    border-color: floralwhite;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}